.ui-dialog-title {
	margin-right:440px;
}
.ui-dialog{
	width:360px;
	height:180px;
	border:#467a95 2px solid;
	background: #FFFFFF;
}
.ui-dialog-titlebar{
	font-size:12px;
	display:block;
	height:28px;
	line-height:28px;
	padding-left:12px;
	background:#60a1c3;
	color:#FFFFFF;
	
}
.ui-icon-closethick {
	color:#FFFFFF;
}
.ui-widget-overlay { 
	background: #aaaaaa url(app_css/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .30;filter:Alpha(Opacity=30); 
	position: absolute;
	left:0;
	top:0;
}