.iconImg {    
	display: block;     
	height: auto;     
	width: 70%; 
}
.mainIconImg{
	display: block;     
	height: 40px;     
	width: 40px; 
	padding-left:20px;
	padding-right:20px;
}
/* .ui-grid-b{ */
/* 	background-color:black; */
/* } */
