<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<title>创建账户</title>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<link href="../css/text1.css" rel="stylesheet" type="text/css">
<link href="../css/btnUtil.css" rel="stylesheet" />
<script type="text/javascript" src="../js/ace/jquery-1.11.0.js"></script>
<style type="text/css">
	.form-group input{height:24px;}
</style>
<script type="text/javascript">
jQuery(window).ready(function(){
	var rows = window.parent.userInfoLists;//用户List
	$("input[name='flag']").val(window.parent.flag);
	$.ajax({
	    url:'/cms/getUserRoleList', 
	    data:{
	    },  
	    type:'post',  
	    cache:false,
	    async: false,
	    dataType:'json',  
	    success:function(result){
	    	if(result.flag == "Y"){
	    		var userRoleList = result.userRoleList;
	    		for(var i=0; i<userRoleList.length; i++){
	    			var row = userRoleList[i];
	    			$("select[name='userRole']").append('<option value="'+row.roleCode+'">'+row.roleName+'</option>');
	    		}
	    		var userCityList = result.userCityList;
	    		for(var r=0; r<userCityList.length; r++){
	    			var row = userCityList[r];
	    			$("select[name='userRegion']").append('<option value="'+row.regionCode+'">'+row.regionName+'</option>');
	    		}
	    	}else{
	    		alert("error");
	    	}
		}
	});
	if($("input[name='flag']").val() == "mod"){
		$("input[name='userId']").val(window.parent.userId);
		for (var j = 0; j < rows.length; j++) {
			var row = rows[j];
			if(row.ID == $("input[name='userId']").val()){
				$("input[name='userName']").val(row.userName);
				$("input[name='userCellNum']").val(row.userCellNum);
				$("select[name='userRole']").val(row.userRole);
				$("select[name='userStatus']").val(row.userStatus);
				$("select[name='userRegion']").val(row.userRegion);
			}
		}
	}
	
}); 
function doSubmit(){
	var userId = "";
	if($("input[name='flag']").val() == "mod"){
		userId = $("input[name='userId']").val();
	}
	if(checkFields()){
		$.ajax({
	        type: "post",
	        async: false,
	        url: "/cms/submitUser",
	        data: {
	        	"flag":$("input[name='flag']").val(),
	        	"userId":userId,
	        	"userName":$("input[name='userName']").val(),
	        	"userCellNum":$("input[name='userCellNum']").val(),
	        	"userRole":$("select[name='userRole']").val(),
	        	"userStatus":$("select[name='userStatus']").val(),
	        	"userRegion":$("select[name='userRegion']").val()
	        },
	        dataType: "json",
	        success: function (data) {
	        	alert("操作成功！");
	        	window.parent.location.reload();
	        }
	    });
	}
}

function checkFields(){
	if($("input[name='userName']").val().trim().length < 1){
		alert("请输入用户姓名");
		$("input[name='userName']").focus();
		return false;
	}
	if($("select[name='userRole']").val()== "" || $("select[name='userRole']").val()== undefined){
		alert("请选择用户身份");
		return false;
	}
	if($("select[name='userRegion']").val()== "" || $("select[name='userRegion']").val()== undefined){
		alert("请选择用户所属区域");
		return false;
	}
	return true;
}
</script>
</head>
<body>
	<div class="t-head"><span class="l"><b>您的位置:</b>首页 » 账户管理» 账户创建  </span></div>
	<input type="hidden" name="flag" id="flag"/>
	<input type="hidden" name="userId" id="userId"/>
   <div>
		<div id="userNameDIV" class="form-group clearfix">
			<label><font>*</font>姓名</label>
		    <input class="form-control w392" id="userName" name="userName" type="text" value="">
	   </div>
	   <div id="userCellNumDIV" class="form-group clearfix">
		    <label><font>*</font>手机号码</label>
		    <input class="form-control w392" id="userCellNum" name="userCellNum" type="text" value="">
	   </div>
	   <div id="userRoleDIV" class="form-group clearfix">
		    <label><font>*</font>用户身份</label>
		    <select id="userRole" name="userRole" style="width:250px;">
		    	<option value="">-请选择用户身份-</option>
		    </select>
	   </div>
	   <div id="userRegionDIV" class="form-group clearfix">
		    <label><font>*</font>用户所属区域</label>
		    <select id="userRegion" name="userRegion" style="width:250px;">
		    	<option value="">-请选择用户所属区域-</option>
		    </select>
	   </div>
	   <div id="userStatusDIV" class="form-group clearfix">
		    <label><font>*</font>用户身份</label>
		    <select id="userStatus" name="userStatus" style="width:250px;">
		    	<option value="Y">生效</option>
		    	<option value="N">失效</option>
		    </select>
	   </div>
	   <input id="submitBtn" name="submitBtn" type="button" value="提交 " class="btn-t1" onclick="doSubmit();" style="margin-left: 7%;margin-bottom:40px;"/>
   </div>
</body>
</html>