<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<title>创建首页广告图</title>
<link href="../css/global.css" rel="stylesheet" type="text/css">
<link href="../css/text1.css" rel="stylesheet" type="text/css">
<link href="../css/btnUtil.css" rel="stylesheet" />
<script type="text/javascript" src="../js/ace/jquery-1.11.0.js"></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript" src="../js/layer/extend/layer.ext.js"></script>
<script type="text/javascript" src="../js/ueditor2/ueditor.config.js"></script>
<script type="text/javascript" src="../js/ueditor2/ueditor.all.js"></script>
<style type="text/css">
	.form-group input{height:24px;}
</style>
<script type="text/javascript">
var ue = false;
jQuery(window).ready(function(){
	ue = UE.getEditor('ueditor');
	$("input[name='flag']").val(window.parent.flag);
	$("input[name='type']").val(window.parent.type);
	if($("input[name='type']").val() == "commingSoon"){
		$("#configRegionDIV").hide();
		$("#configLocDIV").hide();
		$("#bannerPicDiv").hide();
	}
	if($("input[name='type']").val() == "mediaCenter"){
		$("#configRegionDIV").hide();
		$("#configLocDIV").hide();
	}
	if($("input[name='flag']").val() == "mod"){
		$("input[name='confidId']").val(window.parent.confidId);
		$.ajax({
			type: "post",
			async: false,
			url: "/cms/searchConfidId",
			data: {"confidId" : $("input[name='confidId']").val()},
			dataType: "json",
			success: function (result) {
				if (result.flag == 'Y') {
					configInfoMap = result.configInfoMap;
					$("input[name='configRegion'][value="+configInfoMap.configAttr+"]").attr("checked",true);
					$("input[name='configName']").val(configInfoMap.configName);
					$("input[name='configLoc']").val(configInfoMap.configLoc);
					var configDetail = configInfoMap.configDetail;
					configDetail = configDetail ? configDetail : "";
					ue.addListener("ready",function(){
						ue.setContent(configDetail);
					});
					$("input[name='bannerPic']").val(configInfoMap.configPicOrignName);
					if(configInfoMap.configPicOrignName!="" && configInfoMap.configPicOrignName!=null){
						$("#bannerPicUpload").show();
						$("#bannerPicUpload img").attr("src",configInfoMap.configPic);
					}
					$("select[name='configStatus']").val(configInfoMap.configStatus);
				} 
			}
		});
	}
	
}); 

var addWindowIndex = 0;
function uploadBannerPic(){
	addWindowIndex = layer.open({
		type: 2,
		title: '新增',
		shadeClose: true,
		shade: true,
		shade: [0.3],
		maxmin: true, //开启最大化最小化按钮
		area: ['320px', '400px'],
		content: 'bannerUpload.vm'
	});
}

function finishOpen(win) {
	$(win.document).find("#fileUploadForm").append('<input type="hidden" name="uploadType" value="bannerPic" />');
}

function finishUpload(imageUrl,imgName){
	$("#bannerPicUpload img").attr("src",imageUrl);
	if($("#bannerPicUpload img").attr("src") != null && $("#bannerPicUpload img").attr("src") != ""){
		$("#bannerPicUpload").show();
	}
	$("#bannerPic").val(imgName);
	layer.close(addWindowIndex);
}

function submitConfig() {
	var ue = UE.getEditor('ueditor');
	$.ajax({
        type: "post",
        async: false,
        url: "/cms/submitConfig",
        data: {
        	"flag":$("input[name='flag']").val(),
        	"confidId":$("input[name='confidId']").val(),
        	"configType" : $("input[name='type']").val(),
        	"configName" : $("input[name='configName']").val(),
        	"configAttr" : $("input[name='configRegion']:checked").val(),
        	"configLoc" : $("input[name='configLoc']").val(),
        	"configDetail" : ue.getContent(),
        	"configPic" : $("#bannerPicUpload img").attr("src"),
        	"configPicOrignName" : $("input[name='bannerPic']").val(),
        	"configStatus" : $("select[name='configStatus']").val()
        },
        dataType: "json",
        success: function (data) {
        	alert("操作成功！");
        	window.parent.location.reload();
        }
    });
}

function checkFields(){
	if($("input[name='configRegion']:checked").val() == "" || $("input[name='configRegion']:checked").val() == null){
		alert("请选择区域类型");
		return false;
	}
	if($("input[name='configName']").val().trim().length < 1){
		alert("请输入名称！");
		$("input[name='configName']").focus();
		return false;
	}
	if($("input[name='configLoc']").val().trim().length < 1){
		alert("请输入位置信息！");
		$("input[name='configLoc']").focus();
		return false;
	}
	if($("input[name='bannerPic']").val().trim().length < 1){
		alert("请上传图片！");
		return false;
	}
	return true;
}

</script>
</head>
<body>
	<input type="hidden" name="flag" id="flag"/>
	<input type="hidden" name="type" id="type"/>
	<input type="hidden" name="confidId" id="confidId"/>
   <div>
		<div id="configRegionDIV" class="form-group clearfix" style="margin-top: 5px;">
			<label><font>*</font>区域</label>
		    <input name="configRegion" style="width: 15px; margin-top: 5px;" type="radio" value="01" /><span>南昌</span>
		    <input name="configRegion" style="width: 15px; margin-top: 5px;" type="radio" value="02" /><span>厦门</span>
	   </div>
	   
	   <div id="configNameDIV" class="form-group clearfix">
		    <label><font>*</font>名称</label>
		    <input class="form-control w392" id="configName" name="configName" type="text" value="">
	   </div>
	   
	    <div id="configLocDIV" class="form-group clearfix">
		    <label><font>*</font>位置</label>
		    <input class="form-control w392" id="configLoc" name="configLoc" type="text" value="">
	   </div>
	   
	    <div class="form-group clearfix">
				<label><font></font>详情</label> 
				<div style="margin-left:126px">
	    			<textarea id="intranetDetail" name="intranetDetail" rows="5" cols="10" style="display: none"></textarea>
					<script id="ueditor" name="content" type="text/plain"></script>
				</div>
	   </div>
	   
	   <div style="display: none;" class="form-group clearfix" id="bannerPicUpload">
			<label style="filter:alpha(opacity=0);opacity:0;">图片</label>
			<img src="" width="300" height="200" />
	   </div>
	   <div class="form-group clearfix" id="bannerPicDiv">
			<label><font>*</font>图片</label>
			<input class="form-control input-w510 " type="text" style="width:200px !important;" name="bannerPic" id="bannerPic" size="40" maxlength="50" readonly="readonly">
			<i class="Upload" onclick="uploadBannerPic()">上传图片</i>
	   </div>
	  
	   <div id="configStatusDIV" class="form-group clearfix">
		    <label><font>*</font>状态</label>
		    <select id="configStatus" name="configStatus" style="width:250px;">
		    	<option value="Y">生效</option>
		    	<option value="N">失效</option>
		    </select>
	   </div>
	   <input id="submitBtn" name="submitBtn" type="button" value="提交 " class="btn-t1" onclick="submitConfig();" style="margin-left: 7%;margin-bottom:40px;"/>
   </div>
</body>
</html>