<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<link rel="stylesheet" href="/assets/css/joinUs.css" />
<style type="text/css"> 
.ui-content{  
     background:white;  
} 
</style> 
</head>
<body>
<div data-role="page" id="pageone">
  <div data-role="header" id="pageHeader">
<!--   	<a href="#" data-icon="arrow-l"></a> -->
	<a href="#" data-rel="back" data-role="none"><img style="padding-top:8px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
    <h1>加入我们</h1>
  </div>
<div data-role="content">
<p style="text-indent:2em">在瑞颐集团，我们的目标是确保有天赋和才能的专业人才在酒店行业有成功和绝佳的发展机会。
更好地了解瑞颐的职业发展机会，并加入瑞颐找到属于您的理想位置，请联系我们。</p>
<p style="text-indent:2em">电子邮箱:hr@sihotels.com</p>
<p style="text-indent:2em">联系电话:+86（592）5709 195</p>
<p style="text-indent:2em">联络地址:厦门鹭江道12号厦门瑞颐大酒店 4楼 行政办公室 361001</p>
<div class="ui-grid-b">        
	<div class="ui-block-a">
		<select style="font-size:14px;" data-role="none" id="unit1">
    		<option value="1">事业发展部</option>
		</select>
	</div>
	<div class="ui-block-b">
		<select style="font-size:14px;" data-role="none" id="unit1">
  	  		<option value="1">发展副总监</option>
		</select>
	</div>
	<div class="ui-block-c">
		<button style="font-size:14px;background-color:red;" data-role="none">搜索</button>
	</div>
</div>
<textarea disabled="disabled">发展副总监（事业发展部）</textarea>
<p>性别：			不限<br>
 年龄：			不限<br>
 要求：			直接向董事长汇报。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;全面负责大中华区范围内拓展酒店品牌、管理项目开发及特许经营项目开发。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;潜在酒店项目评估，酒店市场调研分析。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;发展部的管理运行，维护客户、政企关系。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;6年以上酒店集团相关岗位工作经验。国际联号发展部工作经验优先考虑。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;专科以上学历。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;英语读写交流流畅。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;电脑水平要求娴熟。<br>
</p>
</div>
</body>
<script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
</script>
</html>