<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<style type="text/css"> 
.hotelImg{
	height:100%;
}
</style> 
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:8px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
  <h1>会议宴会</h1>
  </div>

  <div data-role="main" class="ui-content">

      <ul data-role="listview" id="listView" data-theme="d">
      <li>
      	<table width="100%" height="60%">  
		<tbody>
        <tr>  
            <td align="left">选择酒店</td>  
            <td align="right">
            	<select id="city" data-role="none" style="width:200px;height:30px;">  
              		<option value="nc">南昌</option> 
         			<option value="xm">厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
      </li>
 		<li id="haohua" class="nc" href="/hotelPage/meetingDetail">
        <img style="height:100%" class="hotelImg" src="/assets/images/meetingRoom/nc.jpg">
        <h3>豪华宴会厅（3楼）</h3>
        <p>7.5米挑高无柱，尽显大气典雅。可容纳多达1000人的会议或者800人的宴会</p>
      </li>
      <li class="xm">
        <img style="height:100%" class="hotelImg" src="/assets/images/meetingRoom/xm.jpg">
        <h3>菩提厅（4楼）</h3>
        <p>尽享饱览鼓浪屿秀丽海景的奢华空间</p>
      </li>
    </ul>
    </div>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$("#haohua").on("tap",function(){window.location.href=$(this).attr("href");});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
		$(".nc").show();
		$(".xm").hide();
	}else{
		$(".nc").hide();
		$(".xm").show();
	}
});
</script>
</div>
</body>
</html>