<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.png") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
  <h1>會議宴會</h1>
  </div>
<div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">選擇酒店</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">

      <ul data-role="listview" id="listView" data-theme="d">
 	  <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc1.jpg">
        <h3>豪華宴會廳</h3>
        <p>8米挑高無柱，盡顯大氣典雅。可容納多達1,000人的會議或650人的宴會；豪華宴會廳還可按不同需求，靈活分割成3間獨立的宴會廳，它擁有最先進的視聽設備，無論是社交宴會還是更大規模的會議與活動，均能成功舉辦。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc2.jpg">
        <h3>宴會前廳: 4F</h3>
        <p>通透的宴會前廳，可舉辦500人的高端雞尾酒會，透過全景落地玻璃可欣賞江南閣樓滕王閣美景。</p>
      </li>
 		<li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc3.jpg">
        <h3>茉莉廳Ⅰ</h3>
        <p>擁有113平方米的接待面積，飽覽江景的全景玻璃窗，盡顯高雅。可容納90人的會議及宴會。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc4.jpg">
        <h3>茉莉廳Ⅱ</h3>
        <p>擁有89平方米的接待面積，飽覽江景的全景玻璃窗，盡顯高雅。可容納70人的會議及宴會。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc5.jpg">
        <h3>菩提廳: 5F</h3>
        <p>擁有97平方米的接待面積，飽覽江景的全景玻璃窗，盡顯高雅。可容納80人的會議及宴會。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc6.jpg">
        <h3>百合廳</h3>
        <p>擁有60平方米的接待面積，飽覽江景的全景玻璃窗，空間舒適，適合20-50人的會議活動。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc7.jpg">
        <h3>木蘭廳</h3>
        <p>擁有26平方米的接待面積，飽覽江景的全景玻璃窗，空間舒適，適合8人的會議活動。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc8.jpg">
        <h3>會議室 I 和 II</h3>
        <p>位於商務中心的兩間專為高端商務會議量身定制的會議室，可容納6-8人的董事會議。並且擁有獨一無二的全景窗設計，讓您在開會之餘，欣賞贛江及滕王閣美景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm1.jpg">
        <h3>豪華宴會廳：3 樓</h3>
        <p>7.5米挑高無柱，盡顯大氣典雅。可容納多達1,000人的會議或800人的宴會；豪華宴會廳還可按不同需求，靈活分割成3間獨立的宴會廳，它擁有最先進的視聽設備，無論是社交宴會還是更大規模的會議與活動，均能成功舉辦。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm2.jpg">
        <h3>菩提廳：3樓</h3>
        <p>可靈活分割成3個獨立會議室的300平方米的菩提廳，它將是貴賓接待的最佳場所。無論是婚宴還是晚宴，均是您的最佳選擇。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm3.jpg">
        <h3>茉莉廳：4樓</h3>
        <p>擁有60平方米的前區接待，及無敵海景的落地窗，盡顯高雅。可容納多達130人的會議及宴會</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm4.jpg">
        <h3>碧荷廳：4樓</h3>
        <p>可靈活分割成3個獨立會議室的290平方米的碧荷廳，容納多達240人的會議及宴會，且擁有獨一無二的全落地窗設計，可飽覽壯麗的鼓浪嶼海景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm5.jpg">
        <h3>牡丹廳：4樓</h3>
        <p>可靈活分割成2個獨立會議室的270平方米的牡丹廳，容納多達220人的會議及宴會，且擁有獨一無二的全落地窗設計，可飽覽壯麗的鼓浪嶼海景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm6.jpg">
        <h3>董事會議室：4樓</h3>
        <p>為高端商務會議量身定制的60平方米的董事會議室，可容納25人的董事會議。並且擁有獨一無二的全落地窗設計，讓您在開會之餘，飽覽壯麗的鼓浪海景。</p>
      </li>
    </ul>
    </div>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$("li").on("tap",function(){
	var href = $(this).attr("href")+"?title="+$(this).children("h3").text()+"&text="+$(this).children("p").text()+"&url="+$(this).children("img").attr("src");
// 	alert(href);
	window.location.href=href;
});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
		$(".nc").show();
		$(".xm").hide();
	}else{
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
</script>
</div>
</body>
</html>