<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.png") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
  <h1>会议宴会</h1>
  </div>
<div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">选择酒店</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">

      <ul data-role="listview" id="listView" data-theme="d">
 	  <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc1.jpg">
        <h3>豪华宴会厅（3楼）</h3>
        <p>7.5米挑高无柱，尽显大气典雅。可容纳多达1000人的会议或者800人的宴会</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc2.jpg">
        <h3>宴会前厅</h3>
        <p>通透的宴会前厅，可举办500人的高端鸡尾酒会，透过全景落地玻璃可欣赏江南阁楼滕王阁美景。</p>
      </li>
 		<li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc3.jpg">
        <h3>茉莉厅Ⅰ</h3>
        <p>拥有113平方米的接待面积，饱览江景的全景玻璃窗，尽显高雅。可容纳90人的会议及宴会。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc4.jpg">
        <h3>茉莉厅Ⅱ</h3>
        <p>拥有89平方米的接待面积，饱览江景的全景玻璃窗，尽显高雅。可容纳70人的会议及宴会。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc5.jpg">
        <h3>菩提厅</h3>
        <p>拥有97平方米的接待面积，饱览江景的全景玻璃窗，尽显高雅。可容纳80人的会议及宴会。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc6.jpg">
        <h3>百合厅</h3>
        <p>拥有60平方米的接待面积，饱览江景的全景玻璃窗，空间舒适，适合20-50人的会议活动。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc7.jpg">
        <h3>木兰厅</h3>
        <p>拥有26平方米的接待面积，饱览江景的全景玻璃窗，空间舒适，适合8人的会议活动。</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc8.jpg">
        <h3>会议室 I 和 II</h3>
        <p>位于商务中心的两间专为高端商务会议量身定制的会议室，可容纳6-8人的董事会议。并且拥有独一无二的全景窗设计，让您在开会之余，欣赏赣江及滕王阁美景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm1.jpg">
        <h3>豪华宴会厅</h3>
        <p>7.5米挑高无柱，尽显大气典雅。可容纳多达1,000人的会议或800人的宴会；豪华宴会厅还可按不同需求，灵活分割成3间独立的宴会厅，它拥有最先进的视听设备，无论是社交宴会还是更大规模的会议与活动，均能成功举办</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm2.jpg">
        <h3>菩提厅</h3>
        <p>可灵活分割成3个独立会议室的300平方米的菩提厅，它将是贵宾接待的最佳场所。无论是婚宴还是晚宴，均是您的最佳选择。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm3.jpg">
        <h3>茉莉厅</h3>
        <p>拥有60平方米的前区接待，及无敌海景的落地窗，尽显高雅。可容纳多达130人的会议及宴会</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm4.jpg">
        <h3>碧荷厅</h3>
        <p>可灵活分割成3个独立会议室的290平方米的碧荷厅，容纳多达240人的会议及宴会，且拥有独一无二的全落地窗设计，可饱览壮丽的鼓浪屿海景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm5.jpg">
        <h3>牡丹厅</h3>
        <p>可灵活分割成2个独立会议室的270平方米的牡丹厅，容纳多达220人的会议及宴会，且拥有独一无二的全落地窗设计，可饱览壮丽的鼓浪屿海景。</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm6.jpg">
        <h3>董事会议室</h3>
        <p>为高端商务会议量身定制的60平方米的董事会议室，可容纳25人的董事会议。并且拥有独一无二的全落地窗设计，让您在开会之余，饱览壮丽的鼓浪海景。</p>
      </li>
    </ul>
    </div>
    <div data-role="popup" id="popUpNcIntroduce" data-theme="a" class="ui-content" data-position-to="window" style="font-size:15px;margin-top:10px;background:white;">
<h3 style="font-weight:100;color:black" align="center">南昌瑞颐大酒店</h3>
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none"> 
<p style="font-size:16px;font-weight:100;color:black;">南昌瑞颐大酒店拥有共3700平方米的会议宴会场地，可同时承接一千人的会议及社交场地。南昌瑞颐大酒店豪华宴会厅位于酒店四层，宴会厅为无住方形，空间挑高8米，设计简洁时尚，适合各类大型宴会及会议。宴会厅外宽阔观景前厅，可为会议宴会客人提供不同风格茶歇，让您的会议更加舒适完美。酒店五楼有拥有15间大小各异的多功能会议室，【配备齐全视听设施，可供举办各式小型会议及宴会。</p>     
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none">      
<div style="text-align:center; width:100%;height:100%;margin-top:10px;">
<span data-role="none" id="closepopUpNcIntroduce" align="center" style="border:none;font-size:14px;padding-top:15px;font-weight:100;text-decoration:none;color:#d62d30;">确定</span>
</div>
</div>
<div data-role="popup" id="popUpXmIntroduce" data-theme="a" class="ui-content" data-position-to="window" style="font-size:15px;margin-top:10px;background:white;">
<h3 style="font-weight:100;color:black" align="center">厦门瑞颐大酒店</h3>
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none"> 
<p style="font-size:16px;font-weight:100;color:black;">總面積超過3,500平方米的高級會議室與多功能廳分佈在酒店3層與4層，設備齊全，且大部分會議室都能盡觀窗外鼓浪嶼海景。</p>     
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none">      
<div style="text-align:center; width:100%;height:100%;margin-top:10px;">
<span data-role="none" id="closepopUpXmIntroduce" align="center" style="border:none;font-size:14px;padding-top:15px;font-weight:100;text-decoration:none;color:#d62d30;">确定</span>
</div>
</div>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$("li").on("tap",function(){
	var href = $(this).attr("href")+"?title="+$(this).children("h3").text()+"&text="+$(this).children("p").text()+"&url="+$(this).children("img").attr("src");
// 	alert(href);
	window.location.href=href;
});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
 		$("#popUpNcIntroduce").popup("open");
 		$("#popUpXmIntroduce").popup("close");
		$(".nc").show();
		$(".xm").hide();
	}else{
		$("#popUpXmIntroduce").popup("open");
 		$("#popUpNcIntroduce").popup("close");
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
$(document).ready(function(){
	$("#popUpNcIntroduce").popup("open");
});
$("#closepopUpNcIntroduce").click(function(){
	$("#popUpNcIntroduce").popup("close");
});
$("#closepopUpXmIntroduce").click(function(){
	$("#popUpXmIntroduce").popup("close");
});
</script>
</div>
</body>
</html>