<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.png") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
  <h1>Conference banquet</h1>
  </div>
<div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">Hotel</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">

      <ul data-role="listview" id="listView" data-theme="d">
 	  <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc1.jpg">
        <h3>Grand Ballroom（4F）</h3>
        <p>The majestic pillar-less space accommodates meetings for up to 1,000 persons or an 800-guest banquet. Divisible into three sections, with state-of-the-art audio-visual equipment, it is perfect for conventions and meetings as well as stage events.</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc2.jpg">
        <h3>Ballroom Foyer: 4F</h3>
        <p>The elegant Ballroom Foyer takes up to 500 persons for a cocktail.</p>
      </li>
 		<li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc3.jpg">
        <h3>Jasmine I: 5F</h3>
        <p>113 square meters of meeting or event space with river views, for up to 90 persons.</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc4.jpg">
        <h3>Jasmine II: 5F</h3>
        <p>89 square meters of meeting or event space with river views, for up to 70 persons.</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc5.jpg">
        <h3>Banyan: 5F</h3>
        <p>97 square meters of meeting or event space for up to 80 persons, with views to the Gan River. </p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc6.jpg">
        <h3>Lily: 5F</h3>
        <p>60 square meters with boardroom set up for 20 persons, with views to the Gan River.</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc7.jpg">
        <h3>Magnolia: 5F</h3>
        <p>26 square meters of space with smart boardroom set up for up to 8 persons, with views to the Gan River.</p>
      </li>
      <li class="nc" style ="border-top:solid 1px #dedede" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetNc8.jpg">
        <h3>Meeting Rooms I and II</h3>
        <p>Two separate boardooms, ideal for 6-8 persons each. Both are located within the Business Center and enjoy views to the Gan River and historic Tengwang Pavilion.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm1.jpg">
        <h3>Grand Ballroom: 3F</h3>
        <p>7The majestic pillar-less space accommodates meetings for up to 1,000 persons or an 800-guest banquet. Dividable into three sections, the 7.5m height and state-of-the-art audio-visual equipment supportconventions and meetings as well as stage events.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm2.jpg">
        <h3>Banyan: 3F</h3>
        <p>300 square meters of space, whichis dividable into three sections. It is an ideal choice for a banquet or VIP interview. Floor to ceiling windows on one side look out towards the tranquility of Gulangyu Island and its surrounding waters.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm3.jpg">
        <h3>Jasmine</h3>
        <p>With 60 square meters of reception foyerit features floor to ceiling glass windows which showcase spectacular views ofthe famed Gulangyu Island and its surrounding waters. It accommodates meetings or banquets for up to 130 persons.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm4.jpg">
        <h3>Lotus</h3>
        <p>290 square meters of space accommodates meetings or banquets for up to 240 persons. It is dividable into three sectionswith floor to ceiling windows thatframespectacular views overlooking the famed Gulangyu Island and its surrounding waters.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm5.jpg">
        <h3>Peony: 4F</h3>
        <p>270 square meters of space accommodates meetings or banquets for up to 220 persons. It is dividable into three sectionswith full length picture window views overlooking the picturesqueGulangyu Island and its surrounding waters.</p>
      </li>
      <li class="xm" href="/hotelPage/meetingDetail">
        <img class="hotelImg" src="/assets/images/meetingRoom/meetXm6.jpg">
        <h3>Boardroom: 4F</h3>
        <p>Perfect for high-level board meetings for up to 25 persons, this 60 square meters of meeting space enjoys full window views of the great outdoors and the surrounding waters around Gulangyu Island.</p>
      </li>
    </ul>
    </div>
    <div data-role="popup" id="popUpNcIntroduce" data-theme="a" class="ui-content" data-position-to="window" style="font-size:15px;margin-top:10px;background:white;">
<h3 style="font-weight:100;color:black" align="center">Nanchang Swiss Hotel</h3>
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none"> 
<p style="font-size:16px;font-weight:100;color:black;">Spread out over levels 4 and 5 are 3,700 square meters of comprehensive meeting and function space with state-of-the-art audio-visual support, which allow for a wide variety of events, meetings and banquets.
A Business Center with two Boardrooms provide for all the requirements of the savvy business traveler. 
When planning for your event at Swiss International Hotel Nanchang, our professional meeting planners will be on hand to expertly tailor arrangements to ensure a successful and memorable experience.
 </p>     
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none">      
<div style="text-align:center; width:100%;height:100%;margin-top:10px;">
<span data-role="none" id="closepopUpNcIntroduce" align="center" style="border:none;font-size:14px;padding-top:15px;font-weight:100;text-decoration:none;color:#d62d30;">Confirm</span>
</div>
</div>
<div data-role="popup" id="popUpXmIntroduce" data-theme="a" class="ui-content" data-position-to="window" style="font-size:15px;margin-top:10px;background:white;">
<h3 style="font-weight:100;color:black" align="center">Xiamen Swiss Hotel</h3>
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none"> 
<p style="font-size:16px;font-weight:100;color:black;">Spread out on Levels 3 and 4 are 3,500 square meters of comprehensively-equipped meeting and function space, most of which enjoy views of the great outdoors.
</p>     
<hr style="-webkit-margin-before:0em;-webkit-margin-after: 0em;" size="0" noshade="noshade" color=#dedede data-role="none">      
<div style="text-align:center; width:100%;height:100%;margin-top:10px;">
<span data-role="none" id="closepopUpXmIntroduce" align="center" style="border:none;font-size:14px;padding-top:15px;font-weight:100;text-decoration:none;color:#d62d30;">Confirm</span>
</div>
</div>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$("li").on("tap",function(){
	var href = $(this).attr("href")+"?title="+$(this).children("h3").text()+"&text="+$(this).children("p").text()+"&url="+$(this).children("img").attr("src");
// 	alert(href);
	window.location.href=href;
});$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
		$(".nc").show();
		$(".xm").hide();
	}else{
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
$(document).ready(function(){
	$("#popUpNcIntroduce").popup("open");
});
$("#closepopUpNcIntroduce").click(function(){
	$("#popUpNcIntroduce").popup("close");
});
$("#closepopUpXmIntroduce").click(function(){
	$("#popUpXmIntroduce").popup("close");
});
</script>
</div>
</body>
</html>