<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/index.css" />
<style type="text/css">
.ui-content{  
     background:white;  
} 
li{
	margin: 5px 10px 5px 10px
}
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
/* ul{ */
/* 	 background:black;   */
/* } */
/* .indexHeader{ */
/* 	background:black;   */
/* } */
#people,#setting
{
border: 1px solid black;
font-weight: bold;
text-align: right;
padding: 20px; 
background:black;  
}
</style>
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="header">
  <ul data-role="none" style="height:20px;linear-gradient(#3c3c3c,#111);list-style:none;margin:0px;padding：0px;-webkit-padding-start:10px;">
	<li style="display:inline;float:left;list-style:none">
			<img style="width:80px;height:20px"  src="/assets/images/index/logo.png"></img>
	</li>
	<li style="display:inline;float:right; list-style:none">
		<img  style="width:20px;height:20px" src="/assets/images/index/setting.png"></img>
	</li>
	<li style="display:inline;float:right; list-style:none">
		<img  style="width:20px;height:20px" src="/assets/images/index/people.png"></img>
	</li>
		<li style="display:inline;float:right; list-style:none">
		<select style="width:50px;height:19px" data-role="none">
			<option>en</option>
			<option>chinese</option>
		</select>
	</li>
</ul>
<!-- <div class="ui-grid-c indexHeader">         -->
<!-- 	<div class="ui-block-a" id="icon"> -->
<!-- 		<img style="width:50%;height:50%" class="ui-li-icon" src="/assets/images/index/comingsoon_logo.png"></img> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-b" id="lang"> -->
<!-- 		<select  id="unit1"> -->
<!--   	  		<option value="1" >EN</option> -->
<!-- 		</select> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-c" id="people"> -->
<!-- 		<img  style="width:40%;height:40%" src="/assets/images/index/people.png"></img> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-d" id="setting"> -->
<!-- 		<img  style="width:40%;height:40%" src="/assets/images/index/setting.png"></img> -->
<!-- 	</div> -->
<!-- </div> -->
<img style="width:100%" src="/assets/images/index/banner01.png">
</div>
<!-- 	<div class="ui-block-a"> -->
<!-- 		<img src="/assets/images/index/comingsoon_logo.png"></img> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-a"> -->
<!-- 		<img src="/assets/images/index/comingsoon_logo.png"></img> -->
<!-- 	</div> -->
<div data-role="main" class="ui-content">


<!-- <table > -->
<!-- <thead>客房预订</thead> -->
<!-- <tbody> -->
<!-- <tr><td>酒店位置</td><td>我的附近</td></tr> -->
<!-- <tr><td>选择酒店</td><td></td></tr> -->
<!-- <tr><td>时间</td><td></td></tr> -->
<!-- <tr><td>预定间数</td><td>我的附近</td></tr> -->

<!-- </tbody> -->
<!-- </table> -->
<br>
<!-- <div class="ui-grid-d">         -->
<!-- 	<div class="ui-block-a"> -->
<!-- 		<a href="/hotelPage/guestRoomPreorder"><img src="/assets/images/index/kefang.png"></img></a> -->
<!-- 		<p>客房预订</p> -->
<!-- 		<table height=90 style=border-color:000000;border-left-style:solid;border-width:1px><tr><td valign=top></td></tr></table>		 
<!-- 	</div> -->
<!-- 	<div class="ui-block-b"> -->
<!-- 		<a href="/hotelPage/meetingPreorder"><img src="/assets/images/index/huiyi.png"></img></a> -->
<!-- 		<p>会议宴会</p> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-c"> -->
<!-- 		<a href="/hotelPage/restaurantPreorder"><img src="/assets/images/index/canyin.png"></img></a> -->
<!-- 		<p>餐饮预订</p> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-d"> -->
<!-- 		<a href="http://xmry.yiwosoft.com/MRE/Shop/ShopIndex"><img src="/assets/images/index/shangcheng.png"></img></a> -->
<!-- 		<p>酒店商城</p> -->
<!-- 	</div> -->
<!-- </div> -->
<table>
<tr align="center" valign="middle">
<td style=padding-bottom:0px>
		<a href="/hotelPage/guestRoomPreorder"><img src="/assets/images/index/kefang.png"></img></a>
		<p>客房预订</p>
</td>
<td height=30 align="center" valign="middle" style=border-color:#dedede;border-left-style:solid;border-width:1px;padding-left:10px;padding-right:10px;padding-bottom:0px>
		<a style="vertical-align:middle;" href="/hotelPage/meetingPreorder"><img src="/assets/images/index/huiyi.png"></img></a>
		<p>会议宴会</p>
</td>
<td height=30 align="center" valign="middle" style=border-color:#dedede;border-left-style:solid;border-width:1px;padding-left:10px;padding-right:10px;padding-bottom:0px>
		<a style="vertical-align:middle;" href="/hotelPage/restaurantPreorder"><img src="/assets/images/index/canyin.png"></img></a>
		<p>餐饮预订</p>
</td>
<td height=30 align="center" valign="middle" style=border-color:#dedede;border-left-style:solid;border-width:1px;padding-left:10px;padding-right:10px;padding-bottom:0px>
		<a style="vertical-align:middle;" href="http://xmry.yiwosoft.com/MRE/Shop/ShopIndex"><img src="/assets/images/index/shangcheng.png"></img></a>
		<p>酒店商城</p>
</td>
</tr>
</table>
<hr size="1px" style="">
<div>
<p><font color=red size="5px">|</font>&nbsp;&nbsp;客房预订</p>
<div class="ui-grid-b">        
	<div class="ui-block-a">
		<p>酒店位置</p>
	</div>
	<div class="ui-block-b">
		<p>我的附近</p>
	</div>
	<div class="ui-block-c">
	  <p><font color=grey>位置/酒店/关键词</font></p>
	 </div>
<!-- 	<div class="ui-block-c"> -->
<!-- 		<img style="height:40px" src="/assets/images/index/arrow.png"> -->
<!-- 	</div> -->
</div>
<hr>
<div class="ui-grid-b">        
	<div class="ui-block-a">
		<p>选择酒店</p>
	</div>
	<div class="ui-block-b">
		<p>厦门瑞颐大酒店</p>
	</div>
<!-- 	<div class="ui-block-c"> -->
<!-- 		<img src="/assets/images/index/arrow.png"> -->
<!-- 	</div> -->
</div>
<hr>
<div class="ui-grid-b">        
	<div class="ui-block-a">
		<p>时间</p>
	</div>
	<div class="ui-block-b">
		<p><font size="2px">8月16日</font><font size="1px">今天入住时间</font></p>
		<p><font size="2px">8月17日</font><font size="1px">明天离店一天</font></p>		
	</div>
<!-- 	<div class="ui-block-c"> -->
<!-- 		<img src="/assets/images/index/arrow.png"> -->
<!-- 	</div> -->
</div>
<hr>
<div class="ui-grid-c">        
	<div class="ui-block-a">
		<p>预订间数</p>
	</div>
	<div class="ui-block-b">
		<select date-role="none">
			<option>1</option>
		</select>
	</div>
	<div class="ui-block-c">
		<p>预订代码</p>
	</div>
	<div class="ui-block-d">
		<input></input>
	</div>
</div>
<button style="background-color:red">搜索</button>
</br>
	<ul data-role="listview" id="listView" data-theme="d">
      <li class="detailItem xm" href="http://xmry.yiwosoft.com/MRE/Booking?lang=cn">
        <img class="hotelImg" src="/assets/images/hotel/xiameng/03.png">
        <h3>豪华海景大床房<span style="float:right"><font size="2px">查看详情</font></span></h3>
        <p>58平方米的宽敞豪华城景房</p>
        <span>CNY:<font color=red>1236</font></span>
      </li>
      <li class="detailItem nc" href="http://xmry.yiwosoft.com/MRE/Booking?lang=cn">
        <img class="hotelImg" src="/assets/images/hotel/nanchang/02.png">
        <h3>名仕复式套房<span style="float:right"><font size="2px">查看详情</font></span></h3>
        <p>58平方米的宽敞豪华城景房</p>
		<span>CNY:<font color=red>1236</font></span>      
      </li>
      <li class="detailItem nc" href="http://xmry.yiwosoft.com/MRE/Booking?lang=cn">
        <img class="hotelImg" src="/assets/images/hotel/nanchang/03.png">
        <h3>豪华家庭房<span style="float:right"><font size="2px">查看详情</font></span></h3>
        <p>58平方米的宽敞豪华城景房</p>
		<span>CNY:<font color=red>1236</font></span>             
      </li>
      <li class="detailItem nc" href="http://xmry.yiwosoft.com/MRE/Booking?lang=cn">
        <img class="hotelImg" src="/assets/images/hotel/nanchang/04.png">
        <h3>高级大床房<span style="float:right"><font size="2px">查看详情</font></span></h3>
        <p>尽享饱览鼓浪屿秀丽海景的奢华空间</p>
 		<span>CNY:<font color=red>1236</font></span>             
      </li>
      </ul>
      <hr>
      <p align="center">更多房型</p>
      <hr>
      <a href="/hotelPage/hotelSelect"><button>瑞颐酒店</button></a>
 	  <a href="/hotelPage/brandOverview"><button>关于瑞颐</button></a>
      <a href="/hotelPage/mediaCenter"><button>媒体中心</button></a>
      <a href="/hotelPage/joinUs"><button>加入我们</button></a>
<!--  <div class="ui-grid-a">         -->
<!-- 	<div class="ui-block-a"> -->
<!-- 		<p>一年三百六十五日，我们竭力为您的出行提供源源不断的优惠和礼遇</p> -->
<!-- 		<button></button> -->
<!-- 	</div> -->
<!-- 	<div class="ui-block-b"> -->
<!-- 		<img src="/assets/images/index/drink.png"> -->
<!-- 	</div> -->
<!-- </div>  -->
<table style="background-color:#ede9e2">
<tr align="center" valign="middle">
<td>
		<p>一年三百六十五日，我们竭力为您的出行提供源源不断的优惠和礼遇</p>
		<button data-role="none" style="background-color:#ffffff">获取详情</button>
</td>
<td>
		<img style="width:150px" src="/assets/images/index/drink.png">
</td>
</tr>
</table>
 <div class="ui-grid-a">        
	<div class="ui-block-a">
		<p>瑞颐微信公众号</p>
        <img style="width:150px" src="/assets/images/index/footerLogo.png">
	</div>
	<div class="ui-block-b">
		<img src="/assets/images/index/scanCode.png">
	</div>
</div> 
<br>
<table style="-webkit-padding-start:80px;">
<tr align="center" valign="middle">
<td style=padding-right:10px>
		<p>联系我们</p>
</td>
<td height=8px align="center" valign="middle" style=border-color:#dedede;border-left-style:solid;border-width:1px;padding-left:10px;padding-right:10px>
		<p>隐私政策</p>
</td>
</tr>
</table>
</div>
</div>
<div data-position="fixed" data-tap-toggle="false">
	<ul data-role="none" >
	<li style="display:inline;float:right;list-style:none">
		<a href="tel:110"><img style="height:40px;width:40px" src="/assets/images/index/phone.png"></a>
	</li>
	</ul>
</div>
</div>
</body>
<script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$(".detailItem").on("tap",function(){window.location.href=$(this).attr("href");});
</script>
</html>