<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.png"></a>	
  <h1>Restaurant reservation</h1>
  </div>
  <div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">Hotel</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">
      <ul data-role="listview" id="listView" data-theme="d">
<!--       <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning"> -->
<!--         <img class="hotelImg" src="/assets/images/restaurant/resXm1.jpg"> -->
<!--         <h3>逸趣酒廊 [2楼]</h3> -->
<!--         <p>最地道的泰式料理，最豪华的泰厨阵容，最惬意的用餐环境，不可错过的味觉狂欢！</p> -->
<!--       </li> -->
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm2.jpg">
        <h3>REDTHAI Restaurant: 2F</h3>
        <p>Authentic Thai cuisine prepared by our team of Thai master chefs, served in a cozy, modern atmosphere. Eight private dining rooms available for your choice.</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm3.jpg">
        <h3>Rivage: 2F</h3>
        <p>This all-day dining restaurant serves live kitchen buffets as well as a la carte for breakfast, lunch and dinner.</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm4.jpg">
        <h3>The Terrace: 3F</h3>
        <p>A unique outdoor setting on level 3, offering breathtaking views. Perfect for special occasions.</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm5.jpg">
        <h3>Xin nan Xuan Chinese Restaurant: 3F</h3>
        <p>Elegant setting for exquisite local fare and Cantonese cuisine, complemented with regional Chinese favorites. A Dim Sum menu is served at daily lunch.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc1.jpg">
        <h3>Rivage International All Day Dining Restaurant: 2F</h3>
        <p>Rivage presents all-day dining in sophisticated surroundings, with views to the Gan River. Enjoy the choice of a creative a la carte menu or a generous buffet for breakfast, lunch and dinner, featuring live-action stations where the chefs prepare world cuisine and local specialty dishes for our guests.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc2.jpg">
        <h3>Xin Nan Xuan Chinese Restaurant: 2-5F</h3>
        <p>Xin Nan Xuan, brings its fine reputation from old-town Xiamen, where it was first started in 1911.
An exquisite restaurant offering fine Jiangxi and Cantonese cuisine, with an array of authentic dishes from Xiamen. Also available is an enticing selection of fresh, live seafood.
It is set to impress in a modern and innovative ambience that spreads over four levels, with 55 oversized private rooms in addition to the main dining space on level 4.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc3.jpg">
        <h3>Edomae Japanese Restaurant: 2F</h3>
        <p>Savour the delicate flavours of freshly-prepared Japanese cuisine in a contemporary yet traditional setting, with window views that overlook the Lobby and the scenic Gan River. In addition to the main dining area, Edomae boasts two sushi bars, three teppanyaki rooms for 4-8 persons and five tatami rooms for 4-12 persons.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc4.jpg">
        <h3>Niche Lounge: 1F</h3>
        <p>Located in the spacious lobby, Niche Lounge is the perfect setting for offerings of gourmet coffee and tea culture, or a delicious Swiss chocolate drink.
When the sun goes down, unwind over a glass of wine or cocktail while listening to live tunes of the piano.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc5.jpg">
        <h3>Bubble Bar: 7F</h3>
        <p>Bubble Bar out-door terrace is located on 7th floor adjoining the swimming pool and commands a scenic view over Gan river and Bayi bridge. Enjoy the breeze while sipping on cocktails, wine or beer, and listening to the upbeat music tunes.</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc6.jpg">
        <h3>SKY 61 Lounge: 61F</h3>
        <p>The perfect venue to enjoy the best Nanchang has to offer. Stunning views over the Nanchang skyline with spectacular nightly ‘Light & Sound Shows’.
A trendy menu with tasty light meals is offered in the evenings and a classic Afternoon Tea set during daytime. Or simply enjoy a glass of wine, cocktail or your favorite drink.</p>
      </li>
    </ul>
    </div>
    <style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.png") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$(".detailItem").on("tap",function(){window.location.href=$(this).attr("href");});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
		$(".nc").show();
		$(".xm").hide();
	}else{
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
</script>
</div>
</body>
</html>