<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.jpg"></a>	
  <h1>餐飲預訂</h1>
  </div>
  <div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">選擇酒店</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">
      <ul data-role="listview" id="listView" data-theme="d">
<!--       <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning"> -->
<!--         <img class="hotelImg" src="/assets/images/restaurant/resXm1.jpg"> -->
<!--         <h3>逸趣酒廊 [2楼]</h3> -->
<!--         <p>最地道的泰式料理，最豪华的泰厨阵容，最惬意的用餐环境，不可错过的味觉狂欢！</p> -->
<!--       </li> -->
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm2.jpg">
        <h3>紅泰餐廳：2樓</h3>
        <p>最地道的泰式料理，最豪華的泰廚陣容，最愜意的用餐環境，不可錯過的味覺狂歡！</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm3.jpg">
        <h3>琴岸咖啡廳：2樓</h3>
        <p>位於2樓的全天候餐廳，早餐、午餐與晚餐自助餐均為現場烹飪，亦提供零點服務。</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm4.jpg">
        <h3>戶外咖啡吧：3樓</h3>
        <p>獨具特色的戶外咖啡吧，遠眺鼓浪嶼壯麗海景，給您帶來一種閒適、隨意的生活態度。同時也是您聚會暢談的最佳場所。</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm5.jpg">
        <h3>新南軒中餐廳：3樓</h3>
        <p>餐廳擺設優雅，提供精緻美味，地道的閩南特色菜肴與粵菜，另奉上中國各地特色美食；每日中午供應港式茶點。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc1.jpg">
        <h3>江畔咖啡廳</h3>
        <p>南昌瑞頤大酒店江畔咖啡廳擁有獨特開放式廚房，品嘗美食並享受烹製過程，為您的用餐帶來趣味性。江畔咖啡廳擁有寬闊贛江美景，提供豐盛國際自助餐，更有瑞士特色美食。餐廳可容納200余位客人同時用餐，是西式聚會場地的最佳選擇。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc2.jpg">
        <h3>新南軒酒樓：2-5樓</h3>
        <p>講究地道廚藝的新南軒酒樓，以點心和地方特色小吃為招牌，把您帶入贛、湘、粵及閩南等地的美食世界。您可選擇在4樓大廳或具有不同裝飾風格的55間私人包間內享受美食，這將把您對用餐的完美體驗帶入新高度。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc3.jpg">
        <h3>江戶前日本料理：2樓</h3>
        <p>源于日本江戶時代的傳統日式料理技藝，採用最新鮮的食材及地道專業的烹製工藝，為喜愛和風口味的客人帶來味覺、視覺的頂級體驗。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc4.jpg">
        <h3>逸趣酒廊：1樓</h3>
        <p>南昌瑞頤大酒店逸趣酒廊位於酒店一樓大堂，在輕鬆愉悅的環境中，提供香茗、咖啡、各式雞尾酒和軟飲供您挑選；更有逸趣驚喜下午茶及傍晚的現場鋼琴演奏及雞尾酒。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc5.jpg">
        <h3>泡吧：7樓</h3>
        <p>泡吧位於酒店7樓游泳池外觀景露臺，擁有純戶外的舒適環境和絕佳江景視角。在此與朋友分享小聚和派對的歡樂時光，各式飲品和小食供您選擇。您還可在游泳池暢遊之後，在此小坐，享受陽光微風的閒暇時刻。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc6.jpg">
        <h3>頤雲閣：61樓</h3>
        <p>領略城市風情的最佳地點。在這裡，您可盡享南昌的空中景色，尤其是夜間贛江兩岸燈光秀。頤雲閣時尚功能表包含多種輕型餐食和經典下午茶供您選擇。</p>
      </li>
    </ul>
    </div>
    <style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.jpg") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$(".detailItem").on("tap",function(){window.location.href=$(this).attr("href");});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
		$(".nc").show();
		$(".xm").hide();
	}else{
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
</script>
</div>
</body>
</html>