<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<!-- <script src="/assets/js/common.js"></script> -->
<link rel="stylesheet" href="/assets/css/guestRoomPreorder.css" />
</head>
<body>
<div data-role="page" id="pageone">
<div data-role="header" id="pageHeader">
  	<a href="#" data-rel="back" data-role="none"><img style="padding-top:12px;padding-left:8px;height:16px;width:13px;" src="/assets/images/index/return.jpg"></a>	
  <h1>餐厅预订</h1>
  </div>
  <div data-role="none" style="background-color:#f6f6f6">
	<table data-role="none" style="border:none;">  
		<tbody data-role="none" style="background-color:#f6f6f6">
        <tr data-role="none" style="height:50px;background-color:#f6f6f6">  
            <td data-role="none" style="padding-left:17px;">选择酒店</td>  
            <td data-role="none" style="padding-left:20px;">
            	<select id="city" data-role="none">  
              		<option value="nc">&nbsp;&nbsp;&nbsp;南昌</option> 
         			<option value="xm">&nbsp;&nbsp;&nbsp;厦门</option>  
            	</select>
            </td>  
        </tr>  
        </tbody>
      </table>
</div>
  <div data-role="main" class="ui-content">
      <ul data-role="listview" id="listView" data-theme="d">
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm1.jpg">
        <h3>逸趣酒廊 [2楼]</h3>
        <p>最地道的泰式料理，最豪华的泰厨阵容，最惬意的用餐环境，不可错过的味觉狂欢！</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm2.jpg">
        <h3>红泰餐厅 [2楼]</h3>
        <p>最地道的泰式料理，最豪华的泰厨阵容，最惬意的用餐环境，不可错过的味觉狂欢！</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm3.jpg">
        <h3>琴岸咖啡厅 [2楼]</h3>
        <p>位于2楼的全天候餐厅，早餐、午餐与晚餐自助餐均为现场烹饪，亦提供零点服务。</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm4.jpg">
        <h3>户外咖啡吧 [3楼]</h3>
        <p>独具特色的户外咖啡吧，远眺鼓浪屿壮丽海景，给您带来一种闲适、随意的生活态度。同时也是您聚会畅谈的最佳场所。</p>
      </li>
      <li  class="detailItem xm" style ="border-top:solid 1px #dedede" href="http://xmry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resXm5.jpg">
        <h3>新南轩中餐厅 [3楼]</h3>
        <p>独具特色的户外咖啡吧，远眺鼓浪屿壮丽海景，给您带来一种闲适、随意的生活态度。同时也是您聚会畅谈的最佳场所。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc1.jpg">
        <h3>江畔咖啡厅</h3>
        <p>南昌瑞颐大酒店江畔咖啡厅拥有独特开放式厨房，品尝美食并享受烹制过程，为您的用餐带来趣味性。江畔咖啡厅拥有宽阔赣江美景，提供丰盛国际自助餐，更有瑞士特色美食。餐厅可容纳200余位客人同时用餐，是西式聚会场地的最佳选择</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc2.jpg">
        <h3>新南轩酒楼[2-5楼]</h3>
        <p>讲究地道厨艺的新南轩酒楼，以点心和地方特色小吃为招牌，把您带入赣、湘、粤及闽南等地的美食世界。您可选择在4楼大厅或具有不同装饰风格的55间私人包间内享受美食，这将把您对用餐的完美体验带入新高度。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc3.jpg">
        <h3>江户前日本料理[2楼]</h3>
        <p>源于日本江户时代的传统日式料理技艺，采用最新鲜的食材及地道专业的烹制工艺，为喜爱和风口味的客人带来味觉、视觉的顶级体验。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc4.jpg">
        <h3>逸趣酒廊[1楼]</h3>
        <p>南昌瑞颐大酒店逸趣酒廊位于酒店一楼大堂，在轻松愉悦的环境中，提供香茗、咖啡、各式鸡尾酒和软饮供您挑选；更有逸趣惊喜下午茶及傍晚的现场钢琴演奏及鸡尾酒。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc5.jpg">
        <h3>泡吧[7楼]</h3>
        <p>泡吧位于酒店7楼游泳池外观景露台，拥有纯户外的舒适环境和绝佳江景视角。在此与朋友分享小聚和派对的欢乐时光，各式饮品和小食供您选择。您还可在游泳池畅游之后，在此小坐，享受阳光微风的闲暇时刻。</p>
      </li>
      <li class="detailItem nc" href="http://ncry.yiwosoft.com/MRE/Reserve/Dinning">
        <img class="hotelImg" src="/assets/images/restaurant/resNc6.jpg">
        <h3>颐云阁[61楼]</h3>
        <p>领略城市风情的最佳地点。在这里，您可尽享南昌的空中景色，尤其是夜间赣江两岸灯光秀。颐云阁时尚菜单包含多种轻型餐食和经典下午茶供您选择。</p>
      </li>
    </ul>
    </div>
    <style>
.hotelImg{
	height:80%;
	width:80%;
	padding:2px;
	border-style:solid;
	border-color:#dedede;	
	border-width:thin;
	margin:5px;
}
#city{
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #dedede;
  font-size:16px;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/assets/images/index/down2.png") no-repeat scroll 95% center transparent;
  background-size:10px 10px;
  background-color:white;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
/*   padding-right: 20px; */
	border-radius:3px;
	text-align:center;
	height:34px;
	width:200px;
	float:right;" 
}
</style>
    <script type="text/javascript">
function isWeixnOpen(){
    var ua = navigator.userAgent.toLowerCase();
    if(ua.match(/MicroMessenger/i)=="micromessenger") {
        return true;
    } else {
        return false;
    }
}

if(isWeixnOpen()){
	$("#pageHeader").hide();
}
$(".detailItem").on("tap",function(){window.location.href=$(this).attr("href");});
$(".xm").hide();
$("#city").change(function(){
	if($(this).val()=="nc"){
 		$("#popUpNcIntroduce").popup("open");
 		$("#popUpXmIntroduce").popup("close");
		$(".nc").show();
		$(".xm").hide();
	}else{
		$("#popUpXmIntroduce").popup("open");
 		$("#popUpNcIntroduce").popup("close");
		$(".nc").hide();
		$(".xm").show();
	}
});
if($(document.body).width()>310){
	$("#city").css("width","250px");
}
$(document).ready(function(){
	$("#popUpNcIntroduce").popup("open");
});
$("#closepopUpNcIntroduce").click(function(){
	$("#popUpNcIntroduce").popup("close");
});
$("#closepopUpXmIntroduce").click(function(){
	$("#popUpXmIntroduce").popup("close");
});
</script>
</div>
</body>
</html>